.primary-nav{

    padding-top: 10px;
    

    @mixin atMedium{
        float: right;
        padding-top: 0;
    }
    
    ul{
        padding: 0;
        margin: 0;
        @mixin clearFix;
    }

    li{
        list-style: none;
        display: inline-block;
        padding-right: 15px;
        

        @mixin atMedium{
            display: block;
            float: left;
        }

        &:last-child{
            padding-right: 0;

            @mixin atMedium{
                padding-right: 15px;
            }
        }
        
        a{
            text-decoration: none;
            color: #fff;
            display: block;
            font-weight: 300;
            padding: 10px 3px;
            background-color: rgba(47, 85, 114, .77);
            
            @mixin atMedium{
                background-color: transparent;
                padding: 12px 0;
                &.is-current-link{
                    color: #fabb96; 
                }
            }
        }
    }
}