.row{

    @mixin clearFix;

    &--gutter{
        margin-right: -65px;
    }

    &--gutter-larger{
        margin-right: -100px;
    }

    &--gutter-larger > div{
        padding-right: 100px;
    }

    &--gutter > div{
        padding-right: 65px;
    }

    @mixin atMedium{
        &__medium-4{
            float: left;
            width: 33.33%;
        }

        &__medium-4--larger{
            width: 37%;
        }

        &__medium-6{
            width: 50%;
            float: left;
        }

        &__medium-8{
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller{
            width: 63%;
        }
    }
}