.client-area {
  padding: 30px 10px;

  & .btn {
    border: none;
    outline: none;
    margin-left: 5px;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 1;
  }

  &__error {
    color: red;
  }
}
