.section-title{

    font-size: 2.55rem;
    text-align: center;
    font-weight: 200;
    strong{
        font-weight: 500;
    }

    &__icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6rem;
    }

    @mixin atSmall{
        font-size: 3.75rem;
        &__icon{
            display: inline-block;
            margin-right: .5rem;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}