.site-header{
    position: absolute;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
    
    @mixin atMedium{
        background-color: rgba(47, 85, 114, .3);
    }

    &__btn-cont{
        float: right;

    }

    &__logo{
        position: absolute;
        background-color: $mainBlue;
        padding: 13px 29px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @mixin atMedium{
            padding: 25px 36px;
            left: auto;
            transform: translateX(0);
        }
    }

    &__menu-cont{
        display: none;

        @mixin atMedium{
            display: block;
        }
    }

    &__menu-icon{
        diplay: block;
        height: 20px;
        width:20px;
        background: #fff;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium{
            display: none;
        }
    }

}