.wrapper{
    padding-right: 18px;
    padding-left: 18px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
    &--med{
        max-width: 976px;
    }

    .wrapper{
        padding-right: 0;
        padding-left: 0;
    }
}